<div class="container">
    <div class="row">
        <div class="col-xs-4 col-md-3 col-md-offset-2">
             RESTAURANTS
        </div>
        <div class="col-xs-4 col-md-3 col-md-offset-2">
             MUSEUS
        </div>
         <div class="col-xs-4 col-md-3 col-md-offset-2">
             ESPORTS
        </div>
         <div class="col-xs-4 col-md-3 col-md-offset-2">
             CINEMES
        </div>
         <div class="col-xs-4 col-md-3 col-md-offset-2">
             PARCS
        </div>
         <div class="col-xs-4 col-md-3 col-md-offset-2">
             BOTIGUES
        </div>
    </div>    
</div>